/* static/css/styles.css */

/* styles.css */
/* Estilos generales para el cuerpo de la página */
body {
  font-family: Arial, sans-serif; /* Fuente legible */
  background-color: #5f8966; /* Color de fondo suave */
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal del formulario */
.form-container {
  width: 80%;
  max-width: 1000px; /* Ancho máximo */
  margin: 120px auto; /* Centrado */
  padding: 20px;
  background-color: rgba(121, 125, 123, 0.647); /* Fondo blanco */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 20px; /* Bordes redondeados */
}

/* Estilo para los encabezados */
h1 {
  color: #333; /* Color oscuro */
  text-align: center;
  font-size: 60px;
}

/* Estilo para las etiquetas de los campos */
label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 30px;
  color: #0e0e0e;
}

/* Estilo para los campos de entrada (input, select) */
input, select, button {
  width: 95%; /* Ancho completo */
  padding: 10px;
  margin: 10px 0;
  border: 4px solid #0e0c0c; /* Borde suave */
  border-radius: 10px; /* Bordes redondeados */
  font-size: 20px;
}

/* Estilo para la lista desplegable (select) */
select {
  -webkit-appearance: none; /* Eliminar estilo predeterminado en algunos navegadores */
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('https://www.pngrepo.com/png/10056/180/arrow.png'); /* Imagen de flecha */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Posición de la flecha */
  padding-right: 30px; /* Espacio para la flecha */
}

/* Estilo para el botón de envío */
button {
  display: block;
  width: 50%; /* Ancho completo */
  background-color: #375538ae; /* Fondo Verde Oscuro */
  color: white; /* Texto blanco */
  border: 4px solid #0e0c0c;
  cursor: pointer;
  font-size: 30px;
  text-align: center;

}

button:hover {
  background-color: #5f8966; /* Cambia el color al pasar el ratón */
}

/* Estilo para los grupos de formulario */
.form-group {
  margin-bottom: 20px;
}

/* Estilo para el pie de página */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}
