<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Cliente</title>
      <!-- Enlace al archivo CSS -->
      <style>
        .contenedor {
            display: grid;
            place-items: center; /* Centra horizontal y verticalmente */
            
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="form-container">
        <h1>Bienvenido al sistema <br> de <br> Debida Diligencia</h1>
        <form action="{% url 'agregar_cliente' %}" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="nombre">Nombre Completo:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            
            <div class="form-group">
                <label for="empresa">Empresa:</label>
                <input type="text" id="empresa" name="empresa" required>
            </div>

            <div class="form-group">
                <label for="tipo_documento">Tipo de Documento:</label>
                <select id="tipo_documento" name="tipo_documento" required>
                    <option value="">Seleccione</option>
                    <option value="CC">Cedula de Ciudadania</option>
                    <option value="CE">Cedula de Extranjeria</option>
                    <option value="NIT"> NIT</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>

            <div class="form-group">
                <label for="numero_documento">Número de Documento:</label>
                <input type="text" id="numero_documento" name="numero_documento" required>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" required>
            </div>

            <div class="form-group">
                <label for="correo">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" required>
            </div>
            <div class="contenedor">
            <button type="submit" class="boton-enviar">Enviar</button>
            </div>

        </form>
    </div>

  <script>
      // Este script resetea el formulario después de enviar
      document.querySelector('form').onsubmit = function() {
          setTimeout(function() {
              document.querySelector('form').reset();
          }, 100);
      };
  </script>
</body>
</html>
